@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --color-primary: #6636be;
    --color-secondary: #df7f19;
    --color-quaternary: #24252a;
    --black: #000000;
}

header{
    background-color: var(--color-quaternary);
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.img-header{
    height: 3rem;
    width: 3rem;
    margin-right: 4rem ;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    align-items: center;

}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
    transition: all 0.4s;
}

.nav-link:hover{
    color:var(--color-primary);
}

.contato-button button{
    border: none;
    background-color: var(--color-primary);
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 7%;
    transition: all 0.4s;
}

.contato-button button:hover{
    background-color: var(--color-secondary);
}

.contato-button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

main{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-bx{
    width: 40%;
    margin-left: 3rem;
}

.text-bx h1{
    font-size: 2.5rem;
    text-transform: uppercase; 
    color: var(--color-secondary);
}

.text-bx p{
    color: var(--black);
    font-weight: 400;
    margin-top: 20px;
    justify-content: center;
    text-align: justify;
    font-size: 1.1rem;
}

.img-bx{
    width: 45%;
}

.img-bx img{
    width: 100%;
}

.container{
    height: 550px;
    width: 920px;
    overflow: hidden;
    position:absolute;
    top: 165%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px  #5007a3 solid ;
    border-radius: 10px;
}

.bar{
    background-color: var(--color-secondary) ;
    width: 40px;
    height: 15px;
    margin: 7px;
    transition: .5s;
    border-radius: 1rem;
}

.navegacao{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar:hover{
    background-color:rgba(255, 171, 54, 0.884) ;
}

input{
    display: none;
}

.imagens{
    display: flex;
    height: 100%;
    width: 600%; /*tamanho da div imagens*/

}

.imagem{
    width: 16.6666666667%;
    transition: .5s;
}

.imagem img{
    width: 100%;
    height: 100%;
}


#imagem1:checked ~.img1{
    margin-left: 0%;
}

#imagem2:checked ~.img1{
    margin-left: -16.6666666667%;
}

#imagem3:checked ~.img1 {
    margin-left: -33.3333333334%;
}

footer{
    width: 100%;
    color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    letter-spacing: 1px; 
    margin-top: 50rem;

}

.img-footer{
    height: 4rem;
    width: 4rem;
}

.footer-link{
    text-decoration: none;
}

#footer_content{
    background-color: #171717;
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    padding: 3rem 3.5rem;
    
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

#footer_social_media{
    display: flex;
    gap: 2rem; 
    margin-top: 1.5rem;
}

#footer_social_media .footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: #f5f5f5;
    border-radius: 50%;
    transition: all 0.4s;
}

#footer_social_media .footer-link i{
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover{
    opacity: 0.8;
}

#instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#youtube img{
    width: 2.5rem;
    height: 2.5rem;
}

#github{
    background-color: #3b3b3b;
}


#footer_subscribe{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe p{
    color: #a8a29e;
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: #0e0c0c;
    font-size: 0.9;
    padding: 1.5rem;
    font-weight: 100;
}

@media (max-width: 768px){

    .container{
        display: flex;
        flex-direction: column;
    }

    .container .text-bx{
        margin-left: -28rem;
        width: 2rem;
        flex-wrap: wrap;
       
    }

    .text-bx h1 {
        text-align: left;
        width: 25rem;
        margin-top: 2rem;
        margin-bottom: .5rem;
    }

    .text-bx p{
        width: 30rem;
        margin: 0;
    }

    .img-bx{
        width: 80%;
    }

    h2{
        width: 29rem;
    }

    iframe{
        padding-left: 1.2rem;
        width: 30rem;
    }

    footer{
        width: 33.9rem;
        margin-top: 5rem;
    }

    #footer-content{
        display: flex;
        flex-direction: column;
       
    }

    #footer_subscribe{
       margin-left: 2rem;
       width: 20rem;
    }

}
